html{
    height: 100%;
}
    
head{
    font-family: 'Georgia', Times, Times New Roman, serif;

}

body{
    height: 100%;
    background-color: #dddddd;
    background-image: url("green-giph3.gif");

}

.container{

    background-color:white;
    width:50%;

}

.icons{

    width : 150px;
    height : 115px;
    margin-left: 12.5%;
    margin-right: 15%;
    
}

.footerIcons{

    width: 30px;
    height: 30px;

}

.wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;
    /* background-image: url("green-giph3.gif"); */
    margin-left: 20px;
    margin-right:20px;
    
    /* width: 50%; */
  }

.cont-header{

    color:whitesmoke;
    border-bottom-style:solid;
    border-bottom-color: darkgreen;

}

.card{

    width: 100%;

}

.card-img-top{

    width:132%;

}

.card-text{

    background-color:darkgreen;
    color:white;
    font: 8px;
    text-align:center;
}

.BDPphoto{

    width: 200px;
    height: 20%;
    margin-left: 8.85%;
    margin-top:2%;
}

.RR_giphy{
    width: 25%;
    height: 25%;
    float: right;
    margin-right: 50%
}


.iconDashboard{

    width: 100%;
}
.pathosonic{

    margin-right: 00%;
    margin-top: 0%;
    float:right;

}

.spotPlayer{

    width: 260px;
    height: 260px

}

.main_accordion{

    display: flex;
    justify-content: left;
    margin-top: 0%;
    margin-left: 10%;
    margin-right:10%;

}

.card-header{

    width:100%;

}

.card{

    border-color: green; 
    width: 100%;   

}

.card-body{

    z-index:1;

}

.gitHub_icon{

    display:flex;
    justify-content: space-evenly;


}

.portCardText{

    font-size: 15px;

}

.moreInfo{

    display:flex;
    justify-content: space-evenly;

}

.contactElements{

    text-align: center;
}

.form-control{

    width: 80%;
}

.fixed-bottom{

    z-index:-1;

}

.flexFooter{

    display:flex;
    align-items: flex-end;
    justify-content: space-evenly


}


/*
  These rules take effect when the browser's width
  is 980px.
*/
@media screen and (max-width: 1024px) {
    /* The body's bg color will be #333 */
    .container {
      
    }
  
    /* The wrapper's width will be 600px */
    /* .wrapper {
      width: 600px;
    } */
  }
  
  /*
    These rules take effect when the browser's width
    is either 768px or less.
  */
  @media screen and (max-width: 812px) {
    /* The body's bg color will be #333 */
    .container {
      width: 100%;
    }
  
    .flexFooter{

        font-size:10px;
    }

    .card-img-top{

        margin-left: 2px;
        width:90%;
    
    }

    .container{

        margin-left:0px;

    }

    .main_accordion{

        margin-left: 50px;
    }

    .icons{

        width: 50%;
        height: 50%;
        margin-left: 25%;
        margin-right: 0%

    }

    .portCardText{

        font-size:10px;

    }

    .wrapper{

        margin-bottom: 90px;

    }
  }
  /*
    These rules take effect when the browser's width
    is 640px.
  */
  /* @media screen and (max-width: 640px) {
    /* The body's bg color will be #333 */
    /* body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    /* .wrapper {
      width: 600px;
    }
  } */ 
