html{
    height: 100%;
}
    
head{
    font-family: 'Georgia', Times, Times New Roman, serif;

}

body{

    background-color: #dddddd;

}

.container{

    background-color:white;
    width:50%;

}

.cont-header{

    color:black;
    border-bottom-style:solid;
    border-bottom-color: darkgreen;

}
.card-text{

    background-color:darkgreen;
    color:white;
    font: 8px;
    text-align:center;
}

.card{

    width: 80%;

}

.BDPphoto{

    width: 35%;
}

.accordion_text{

    width: 80%;

}

.pathosonic{

    margin-right: 20%;
    margin-top: -43%;
    float:right;

}

.card-header{

    justify-content: center;

}

.form-control{

    width: 80%;
}

.portCard{

    width: 45%;
    height: 45%;

}

.portCardText{

    font-size: 15px;

}

/* sticky footer styling */

/* https://css-tricks.com/snippets/css/sticky-footer/ */

html,
body {
  height: 100%;
}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -105px;
}

footer,
.push {
  height: 105px;
}

/* end sticky footer styling */