html{
    height: 100%;
}
    
head{
    font-family: 'Georgia', Times, Times New Roman, serif;

}

body{
    height: 100%;
    background-color: #dddddd;
    background-image: url("green-giph3.gif");

}

.container{

    background-color:white;
    width:50%;

}

.icons{

    width : 150px;
    height : 115 px;
    margin-left: 35%;
    margin-right: 15%;
    
}

.footerIcons{

    width: 30px;
    height: 30px;

}

.wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;
    /* background-image: url("green-giph3.gif"); */
    margin-left: 20px;
    margin-right:20px;
    
    /* width: 50%; */
  }

.cont-header{

    color:whitesmoke;
    border-bottom-style:solid;
    border-bottom-color: darkgreen;

}

.card{

    width: 100%;

}

.card-text{

    background-color:darkgreen;
    color:white;
    font: 8px;
    text-align:center;
}

.BDPphoto{

    width: 15%;
    height: 20%;
}

.RR_giphy{
    width: 25%;
    height: 25%;
    float: right;
    margin-right: 50%
}


.iconDashboard{

    width: 100%;
}
.pathosonic{

    margin-right: 00%;
    margin-top: 0%;
    float:right;

}

.spotPlayer{

    width: 260px;
    height: 260px

}

.main_accordion{

    display: flex;
    justify-content: left;
    margin-top: 0%;
    margin-left: 15px;

}

.card-header{

    width:100%;

}

.card{

    border-color: green; 
    width: 100%;   

}

.gitHub_icon{

    display:flex;
    justify-content: space-evenly;


}

.portCardText{

    font-size: 15px;

}

.moreInfo{

    display:flex;
    justify-content: space-evenly;

}

.contactElements{

    text-align: center;
}

.form-control{

    width: 80%;
}

.row_footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;

}
